.create-todo-form {
    display: grid;
    gap: 10px;
    padding: 20px;

    &__heading {
        font-size: 24px;
        font-weight: bold;

        text-align: center;
    }

    &__form {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}
